# Accessing Art Museums

In [1]:
print('Hello World')

Hello World

In [1]:
#import libraries
import json
import pandas as pd
import numpy as np

# Load data
The following data sets are used in this project:
1. US Art Museums (CSV) - Art museums in the United States with website, city, state, zip code, and cost of admission
2. 2022 Census Income Data (CSV) - Median household income per zip code in the United States

In [2]:
# read US Art Museums CSV
museums = pd.read_csv('data/US_Art_Museums.csv')

# display first 5 rows
museums.head()

,Unnamed: 0,Museum,Website,City,State,Zip Code,General Admission,Senior,Student,Children
0,1,Birmingham Museum of Art,artsbma.org,Birmingham,Alabama,35203,$0.00,$0.00,$0.00,$0.00
1,2,Huntsville Museum of Art,hsvmuseum.org,Huntsville,Alabama,35801,$10.00,$8.00,$5.00,$0.00
2,3,Mobile Museum of Art,mobilemuseumofart.com,Mobile,Alabama,36608,$12.00,$10.00,$8.00,$0.00
3,4,Montgomery Museum of Fine Arts,mmfa.org,Montgomery,Alabama,36117,$0.00,$0.00,$0.00,$0.00
4,5,Anchorage Museum of Art and History,anchoragemuseum.org,Anchorage,Alaska,99501,$18.00,$15.00,$9.00,$0.00

In [19]:
# read 2022 Census Income Data CSV
income = pd.read_csv('data/2022_Census_Income_Data.csv')

# display first 5 rows
income.head()

,Geography,Geographic area name,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White,Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Black or African American,Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Black or African American,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!American Indian and Alaska Native,Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!American Indian and Alaska Native,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Asian,Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Asian,...,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Living alone,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Living alone,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Not living alone,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Not living alone,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone,Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone,Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone
0,860Z200US00601,601,4564,334,64,42,4,8,20,32,...,9895,1455,21154,5589,11208,2272,9403,3371,23352,4538
1,860Z200US00602,602,6042,431,135,81,15,22,0,31,...,8669,1008,23676,17821,16086,1422,15352,1651,28872,17030
2,860Z200US00603,603,14117,695,865,183,20,23,19,29,...,9229,954,16333,1539,13147,1542,12382,1635,28824,12175
3,860Z200US00606,606,1185,163,0,21,0,21,0,21,...,11938,7641,-,**,17899,4102,17269,6376,18850,8182
4,860Z200US00610,610,3548,443,189,95,0,28,0,28,...,11913,1706,21406,5972,15247,2151,13688,3051,25658,7664

# Clean data

### Census Data
The Census Data CSV includes a wide range of income measurements for specific races, genders, and household types, as well as margins of error for each measurement. For the purpose of this project, we are looking for the median income of all types calculated as one amount, so the data will need to be narrowed down and most columns will be removed.

Looking for Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households (FE)

In [20]:
# identify all columns
print(income.columns)

Index(['Geography', 'Geographic area name',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White',
       'Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!White',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Black or African American',
       'Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Black or African American',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!American Indian and Alaska Native',
       'Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!American Indian and Alaska Native',
       'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Asian',
       'Margin of Error!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households!!One race--!!Asian',
       ...
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Living alone',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Not living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Female householder!!Not living alone',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Living alone',
       'Estimate!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone',
       'Margin of Error!!Median income (dollars)!!NONFAMILY HOUSEHOLDS!!Nonfamily households!!Male householder!!Not living alone'],
      dtype='object', length=240)

In [21]:
# fiter down to necessary columns
income = income[['Geographic area name', 'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households']]

# display remaining columns of data frame
income.head()

,Geographic area name,Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households
0,601,17526
1,602,20260
2,603,17703
3,606,19603
4,610,22796

In [22]:
# rename columns
income.rename(columns={'Geographic area name': 'Zip Code', 'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households': 'Median Income'}, inplace=True)

# display new columns
income.head()

   Zip Code Median Income
0       601         17526
1       602         20260
2       603         17703
3       606         19603
4       610         22796

The Census Data CSV includes more zip codes than the Art Museums CSV. Before mergining