# Accessing Art Museums

In [1]:
print('Hello World')

Hello World

In [1]:
#import libraries
import json
import pandas as pd
import numpy as np

# Load data
The following data sets are used in this project:
1. US Art Museums (CSV) - Art museums in the United States with website, city, state, zip code, and cost of admission
2. 2022 Census Income Data (CSV) - Median household income per zip code in the United States

In [10]:
# read US Art Museums CSV
museums = pd.read_csv('data/US_Art_Museums.csv')

# display first 5 rows
museums.head()

,Unnamed: 0,Museum,Website,City,State,Zip Code,General Admission,Senior,Student,Children
0,1,Birmingham Museum of Art,artsbma.org,Birmingham,Alabama,35203,$0.00,$0.00,$0.00,$0.00
1,2,Huntsville Museum of Art,hsvmuseum.org,Huntsville,Alabama,35801,$10.00,$8.00,$5.00,$0.00
2,3,Mobile Museum of Art,mobilemuseumofart.com,Mobile,Alabama,36608,$12.00,$10.00,$8.00,$0.00
3,4,Montgomery Museum of Fine Arts,mmfa.org,Montgomery,Alabama,36117,$0.00,$0.00,$0.00,$0.00
4,5,Anchorage Museum of Art and History,anchoragemuseum.org,Anchorage,Alaska,99501,$18.00,$15.00,$9.00,$0.00

In [8]:
# read 2022 Census Income Data CSV
income = pd.read_csv('data/2022_Census_Income_Data.csv')

# display first 5 rows
income.head()

        Geography  Zip Code Median Income
0  860Z200US00601       601         17526
1  860Z200US00602       602         20260
2  860Z200US00603       603         17703
3  860Z200US00606       606         19603
4  860Z200US00610       610         22796